NODE_ENV=development
PORT=5000
LOG_LEVEL=info
LOG_DIR=./logs
PS_EXECUTION_TIMEOUT_MS=60000
PS_CONNECT_TIMEOUT_MS=10000
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
#CORS_ORIGINS=http://localhost:5173,http://localhost:3001,http://172.17.0.2:5000,http://172.17.0.3:80,*
CORS_ORIGINS=http://192.168.1.162:80